<!DOCTYPE html>
<html>
<title>Forgot Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>



    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">



</head>

<body>

    <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


        <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </div>
    <div class="w3-container">

        <a class="w3-btn w3-red w3-hover-white" align="center" style="font-size: 20px;"><b><center>GRIEVANCE REDRESSAL SYSTEM</center></b></a>
        <a class="w3-btn w3-red w3-hover-white" align="center" style="font-size: 20px;"><b><center>Government Polytechnic Kolhapur</center></b></a>
        <a class="w3-btn w3-red w3-hover-white" align="center" style="font-size: 20px;"><b><center>An Autonomous Institute of Government of Maharashtra</center></b></a>
        <br>
        <br>




        <div class="topnav">
            <a class="topnav" style="font-size: 20px;" href="/Home_Page">HOME
           
           
   
    </a>
            <a class="topnav" style="font-size: 20px;" href="/User_Data">Users</a>

            <a class="topnav" style="font-size: 20px;" href="/Cm">Commitee Members</a>

            <a class="topnav " style="font-size: 20px;" href="/Admin">Admin</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="highlighted" class="hl-basic hidden-xs">
        <div class="container-fluid">
            <div>
                <div>
                    <h1><b><center>Forgot Password</center></b></h1>
                </div>
            </div>
        </div>
    </div>



    <div>
        <div>
            <p>
                <center>Please enter your email address below and we will send you information to change your password.</center>
            </p>
            <center> <label class="label-default" for="un">Email Address</label></center>
        <form id="form1" action="/Forget_P" method="post">
            <center><input id="email" name="email" type="email"><br></center>
            <button type="submit" form="form1">Reset</button>
            <h4>{{ message }}</h4>
        </form>
        </div>


        <br>


        <a href="/ Login_Option" class="previous">&laquo; Previous</a>


</body>

</html>